body {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Garamond", Serif;
}

.content {
    height: 100%;
}

.profile-image {
    align-self: center;
    margin-top: 5%;
    margin-left: 4%;
    margin-bottom: 5%;
    width: 100%;
    overflow: hidden;
    border-radius: 25%;
}

.profile-image img {
    width: 100%;
    display: block;
}

/* Got some ideas from Author: Chris Coyier; Source: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.profile-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-right: 1%;
    background-color:rgba(255, 169, 71, 0.668);
    height: auto;
}

.skills-content {
    text-align: center;
    margin-left: 5%;
}

.main-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
    padding-left: 1%;
    background-color:rgba(39, 225, 239, 0.518);
    height: 100%;
}